.hidden {
    display: none;
}

body {
    color:#1E1C1B;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #e9e7e2;
    font-style: normal;
    /* min-width: 1864px; */
}

.wrapper {
    max-width: 1360px;
    padding: 0 20px;
    margin: 0 auto;
}

.title {
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    margin-top: 100px;
}

.subtitle{
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    width: 930px;
    font-weight: 400;
    font-size: 20px;
    line-height: 123.02%;
    text-align: center;
}

.divider{
    padding-bottom: 90px;
    border-bottom: 1px solid #CCD3C4;
}

.wrapper {
    max-width: 1360px;
    padding: 0 20px;
    margin: 0 auto;
}


.fade-out {
    animation: fadeOut ease 8s;
    -webkit-animation: fadeOut ease 8s;
    -moz-animation: fadeOut ease 8s;
    -o-animation: fadeOut ease 8s;
    -ms-animation: fadeOut ease 8s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}



/* ==================== START HEADER ====================*/

header {
    padding-top: 43px;
}

.header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    position: relative;
}

.logo_lower_text {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.035em;
}

.logo_upper_text {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.header_menu {
    display: flex;
    align-items: center;
    gap: 16px;
}

.logo_img {
    position: absolute;
    right: -76px;
    width: 88px;
    height: 55px;
}

.nav_element {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
    text-decoration: none;
    color: #1E1C1B;
}

.nav_element:hover {
    color: #fff;
}

.nav_element_button {
    padding: 20px 44px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid #1D1C1B;
    border-radius: 100px;
    background-color: transparent;
}

.nav_element_button:hover {
    background-color: #fff;
    color: #1E1C1B
}


/* ==================== END HEADER ====================*/



/* ==================== START INTRO ====================*/

.intro {
    height: 1193px;
    background: url('./../img/background/title_background.png') center center/cover no-repeat;
}

.intro_title {
    margin-top: 248px;
    width: 790px;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
}

.intro_date {
    font-size: 32px;
}

.intro_subtitle {
    margin-top: 17px;
    width: 590px;
    font-weight: 400;
    font-size: 20px;
    line-height: 123.02%;
}

.intro_button {
    display: inline-block;
    text-decoration: none;
    margin-top: 32px;
    padding: 26px 82px;
    background: #DEB47D;
    border-radius: 100px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #1E1C1B;
    cursor: pointer;
}

.intro_button:hover {
    background: #F2CFA0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.organizators {
    margin-top: 260px;
    display: flex;
}

.organizator {
    display: flex;
}

.organizator_logo {
    width: 64px;
    height: 64px;
    margin-right: 24px;
}

.organizator_description {
    margin-right: 33px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* ==================== END INTRO ====================*/



/* ==================== START DESCRIPTION ====================*/

.description_text {
    margin-left: 0;
    width: 600px;
    text-align: left;
}

.description_data {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.left_data {
    width: 50%;
}

.rigth_data {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}


.description_element {
    width: 95%;
    display: flex;
    margin-bottom: 80px;
    align-items: start;
}


.description_element:nth-child(3n) {
    margin-bottom: 0;
}

.element_number {
    margin-right: 45px;

}

.element_img {
    width: 47px;
    height: 47px;
    margin-bottom: 9px;
}

.element_text {
    font-weight: 400;
    font-size: 24px;
    line-height: 123.02%;
}



/* ==================== END DESCRIPTION ====================*/


/* ==================== START THEORY ====================*/
.theory_slider_buttons {
    display: flex;
    position: relative;
    margin: 0 auto;
    margin-top: 21px;
    background-color: #fff;
    border-radius: 100px;
}

.theory_slider_buttons * {
    z-index: 2;
}

input[type="radio"] {
    display: none;
}

.slider_element {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90px;
    width: calc(100% / 7);
    box-shadow: 0px 1px 6px -2px rgba(0, 0, 0, 0.25);
    font-weight: 500;
    font-size: 14px;
    line-height: 123.02%;
    text-align: center;
    cursor: pointer;
    transition: color 0.15s ease-in;
}

.slider_element:hover {
    background: #ECF2E5;
}

.slider_element_last-child {
    border-radius: 0px 100px 100px 0px;
}

.slider_element_first-child {
    border-radius: 100px 0px 0px 100px;
}

input[id="radio-1"]:checked~.theory_active {
    transform: translateX(0);
    border-radius: 100px 0px 0px 100px;
}

input[id="radio-2"]:checked~.theory_active {
    transform: translateX(100%);
}

input[id="radio-3"]:checked~.theory_active {
    transform: translateX(200%);
}

input[id="radio-4"]:checked~.theory_active {
    transform: translateX(300%);
}

input[id="radio-5"]:checked~.theory_active {
    transform: translateX(400%);
}

input[id="radio-6"]:checked~.theory_active {
    transform: translateX(500%);
}

input[id="radio-7"]:checked~.theory_active {
    transform: translateX(600%);
    border-radius: 0px 100px 100px 0px;
}

.theory_active {
    position: absolute;
    display: flex;
    height: 90px;
    background-color: #CCD3C4;
    z-index: 1;
    transition: 0.25s ease-out;
}

.theory_active:after {
    content: '';
    background: #CCD3C4;
    display: block;
    position: absolute;
    top: 100%;
    left: calc(50% - 10px);
    width: 20px;
    height: 20px;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.2);
}


.own_theory_data {
    margin-top: 67px;
    display: flex;
    justify-content: space-between;
}

.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.own_theory_title {
    margin-top: 100px;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
}


.own_theory_text {
    margin-top: 24px;
    width: 580px;
    font-weight: 500;
    font-size: 16px;
    line-height: 145.52%;
}

.own_theory_image {
    width: 584px;
}

.own_theory_left_data {
    display: flex;
}

.left_data_image {
    width: 41px;
    height: 47px;
    margin: 100px 38px 0 40px;
}


/* ==================== END THEORY ====================*/




/* ==================== START SPEAKERS ====================*/
.slider {
    align-items: center;
    margin-top: 56px;
    display: flex;
}

.slider_data_list {
    width: 100%;
}

.slider_left_arrow {
    width: 25px;
    height: 44px;
    margin-right: 40px;
    cursor: pointer;
}

.slider_rigth_arrow {
    width: 25px;
    height: 44px;
    margin-left: 40px;
    cursor: pointer;
}


.own_speaker_image {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.speaker_name {
    margin-top: 22px;
    font-weight: 500;
    font-size: 20px;
    line-height: 123.02%;
    text-align: center;
}

.speaker_profession {
    margin-top: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 123.02%;
    text-align: center;
    color: #DEB47D;
}

.speaker_description {
    margin: 0 auto;
    margin-top: 12px;
    width: 277px;
    font-weight: 400;
    font-size: 14px;
    line-height: 123.02%;
    text-align: center;
}


/* ==================== END SPEAKERS ====================*/



/* ==================== START SCHEDULE ====================*/

.schedule_data {
    margin: 70px 110px 0 110px;
    display: grid;
    grid-template-columns: 50% 20px 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        ". . ."
        ". . ."
        ". . ."
        ". . ."
        ". . ."
        ". . ."
        ". . ."
        ". . ."
        ". . ."
        ". . .";
}

.schedule_data .own_element {
    background: #CCD3C4;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.25);
    border-radius: 200px;
    width: 460px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    margin-bottom: 75px;
}

.schedule_data .time {
    font-size: 40px;
    line-height: 49px;
    position: relative;
}

.schedule_data .time::after {
    position: absolute;
    content: '';
    left: 100%;
    height: 2px;
    width: 100%;
    z-index: -1;
    background-color: #1E1C1B;
}

.schedule_data .circle {
    margin-top: 40px;
    height: 20px;
    width: 20px;
    background: #deb47d;
    border-radius: 50%;
    position: relative;
    z-index: 4;
}

.schedule_data .circle::before {
    position: absolute;
    content: '';
    bottom: 100%;
    right: calc(50% - 2.5px);
    height: 40px;
    width: 5px;
    z-index: -1;
    background-color: #1E1C1B;
}

.schedule_data .circle::after {
    position: absolute;
    content: '';
    top: 100%;
    right: calc(50% - 2.5px);
    height: 125px;
    width: 5px;
    z-index: -1;
    background-color: #1E1C1B;
}


.schedule_data .description {
    margin-left: auto;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    position: relative;
}

.schedule_data .description::before {
    position: absolute;
    content: '';
    right: 100%;
    height: 2px;
    width: 100%;
    background-color: #1E1C1B;
    z-index: -1;
}

/* ==================== END SCHEDULE ====================*/



/* ==================== START TICKETS ====================*/

.tickets_data {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
}

.tickets_info{
    display: flex;
    flex-direction: column;
    align-items:space-around;
}
.tickets_block {
    margin: 0 auto;
}

.tickets_cost {
    display: inline-block;
    padding: 23px 54px;
    background: #FFFFFF;
    border: 4px solid #CCD3C4;
    border-radius: 100px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.tickets_sum {
    margin-top: 10px;
    font-weight: 700;
}

.tickets_price_description {
    margin-left: 52px;
    width: 318px;
    margin-top: 32px;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
}

.tickets_price_description .price_title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 0;
}

.tickets_price_description ol {
    list-style-position: outside;
}

.tickets_description {
    margin-left: 52px;
    margin-top: 55px;
    width: 590px;
    font-weight: 400;
    font-size: 20px;
    line-height: 123.02%;
    letter-spacing: -0.013em;
}



.credentials_title {
    margin-top: 23px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.input_field {
    display: block;
    width: 465px;
    padding: 22px 0;
    padding-left: 37px;
    background: #FFFFFF;
    border: 4px solid #CCD3C4;
    border-radius: 100px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #4D4949;

}

.input_field:focus {
    border: 4px solid #DEB47D;
}

.input_field:first-child {
    margin-top: 40px;
}

input::-webkit-input-placeholder{
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #4D4949;
}

input::-moz-placeholder {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #4D4949;
}

input:-moz-placeholder {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #4D4949;
}

input:-ms-input-placeholder {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #4D4949;
}

.credential_button {
    margin-top: 40px;
    padding: 22px 47px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    background: #DEB47D;
    border-radius: 100px;
    cursor: pointer;

}

.credential_button:hover {
    background: #F2CFA0;

}

.active_credential_button {
    cursor: default;
    background: #fff;
    border: 4px solid #DEB47D;
    pointer-events: none;
}

/* ==================== END TICKETS ====================*/



/* ==================== START PARTNERSHIP ====================*/

.own_partner {
    height: 150px;
}

.own_partner .partner_logo {
    display: block;
    margin: 0 auto;
}



/* ==================== END PARTNERSHIP ====================*/



/* ==================== START BECOME_PARTNER ====================*/

.become_partner_data {
    margin-top: 70px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.own_partner_sentence {
    width: 32%;
    background: #CCD3C4;
    border-radius: 57px;
}

.own_partner_sentence .title {
    height: 100px;
    width: 100%;
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #fff;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    margin: 0;
}


.own_partner_sentence .data {
    margin: 50px;
    font-weight: 400;
    font-size: 14px;
    line-height: 123.02%;
}

.own_partner_sentence .line {
    width: 125px;
    border: 1px solid #1E1C1B;
}

.own_partner_sentence .price {
    font-weight: 600;
    font-size: 20px;
    line-height: 98.9%;
    text-align: center;
    margin-top: 40px;
}

.own_partner_sentence .send_request {
    background: #DEB47D;
    border-radius: 200px;
    padding: 23px 60px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 50px;
    cursor: pointer;
    width: 80%;
}

.own_partner_sentence .send_request:hover {
    background: #F2CFA0;
}

.own_partner_sentence ol {
    list-style-type: none;
    counter-reset: item;
}

.own_partner_sentence li:before {
    content: counter(item) ') ';
    counter-increment: item;
}

/* ==================== END BECOME_PARTNER ====================*/


/* ==================== START MAP ====================*/
.map_data {
    margin: 0 auto;
    margin-top: 80px;
}

.map_image {
    margin: 0 auto;
    width: 100%;
    height: 520px;
    background: url('./../img/map.png') no-repeat;
    border-radius: 58px;
    position: relative;
}

.map_info {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5%;
    width: 350px;
    height: 250px;
    background: #FFFFFF;
    border: 3px solid #CCD3C4;
    border-radius: 30px;
    padding: 0 65px;
}

.navigation {
    width: 28px;
    height: 42px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;

}

.map_info .place_name {
    margin-top: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 98.9%;
    text-align: center;
}

.map_info .place_phone {
    margin-top: 15px;
    font-weight: 600;
    font-size: 14px;
    line-height: 98.9%;
    text-align: center;
}

.map_info .place_time {
    margin-top: 15px;
    font-weight: 600;
    font-size: 14px;
    line-height: 98.9%;
    text-align: center;
}

/* ==================== END MAP ====================*/



/* ==================== START PHOTO ====================*/

.photo_list {
    margin: 0 auto;
    margin-top: 80px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows: 148px 148px 148px 390px;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
        "top-left some1 top-rigth top-rigth"
        "top-left some2 top-rigth top-rigth"
        "top-left some3 some4 some5"
        "bottom-left bottom-rigth bottom-rigth bottom-rigth";
}


.top-left {
    border-radius: 200px 20px 20px 200px;
    grid-area: top-left;
    background: url('./../img/forum2020/title/top-left.png') no-repeat;
    background-size: 100% 100%;
}

.bottom-left {
    overflow: hidden;
    grid-area: bottom-left;
    border-radius: 200px 20px 20px 200px;

    background-size: 100% 100%;
    position: relative;
}

.top-rigth {
    grid-area: top-rigth;
    border-radius: 20px 200px 20px 20px;
    background: url('./../img/forum2020/title/top-rigth.png') no-repeat;
    background-size: 100% 100%;
}

.bottom-rigth {
    overflow: hidden;
    grid-area: bottom-rigth;
    border-radius: 20px 200px 200px 20px;
    background-size: 100% 100%;
    position: relative;
}

.some2 {
    grid-area: some2;
    border-radius: 20px;
    background: url('./../img/forum2020/title/some2.png') no-repeat;
    background-size: 100% 100%;
}

.some1 {
    grid-area: some1;
    border-radius: 20px;
    background: url('./../img/forum2020/title/some1.png') no-repeat;
    background-size: 100% 100%;
}

.some3 {
    grid-area: some3;
    border-radius: 20px;
    background: url('./../img/forum2020/title/some3.png') no-repeat;
    background-size: 100% 100%;
}

.some4 {
    grid-area: some4;
    border-radius: 20px;
    background: url('./../img/forum2020/title/some4.png') no-repeat;
    background-size: 100% 100%;
}

.some5 {
    grid-area: some5;
    border-radius: 20px 20px 200px 20px;
    background: url('./../img/forum2020/title/some5.png') no-repeat;
    background-size: 100% 100%;
}

.video {
    height: 410px;
    cursor: pointer;
}

.open_video {
    height: 75%;
}

.toggle_button {
    width: 41px;
    height: 41px;
    cursor: pointer;
    position: absolute;
    top: 17px;
    z-index: 3;
}

.left_button_position {
    right: 22px;
}

.rigth_button_position {
    left: 22px;
}

/* ==================== END PHOTO ====================*/



/* ==================== START QUESTIONS ====================*/

.question_text {
    margin-top: 100px;
    font-display: auto;
    display: flex;
    padding-bottom: 25px;
    border-bottom: 2px solid #DEB47D;
}

.question_text .left_text {
    text-align: end;
    width: 55%;
}

.question_text .rigth_text {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.question_text .left_text .question_title {
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    color: #535650;
}

.question_text .left_text .question_subtitle {
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.01em;
    color: #535650;
}

.question_text .rigth_text .data {
    font-weight: 500;
    font-size: 16px;
    line-height: 98.9%;
}

.supervisor {
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 142.9%;
    text-align: center;
}

/* ==================== END QUESTIONS ====================*/


/* ==================== START FOOTER ====================*/
footer {
    margin-top: 70px;
    background-color: #CCD3C4;
}

.footer_data {
    padding-top: 60px;
    padding-bottom: 110px;
    display: flex;
    justify-content: space-between;
}

.footer_data .data {
    display: flex;
}

.column {
    margin-right: 95px;
}

.column:last-child{
    margin-right: 0;
}

.column .column_title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 20px;
}

.column .column_data {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #1E1C1B;
    margin-bottom: 20px;
}

.link {
    text-decoration: none;
}

.footer_logo {
    margin-right: 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ==================== END FOOTER ====================*/


/* ==================== START MODAL ====================*/


.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .7)
}

.modal_dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25%;
    background-color: #e9e7e2;
    padding: 40px;
    border-radius: 50px;
}

.show {
    display: flex;
    justify-content: center;
    align-items: center;

}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

/* ==================== END MODAL ====================*/



/* ==================== START BACKGROUNG IMAGES ====================*/

.relative_section {
    position: relative;
}

.background_image {
    position: absolute;
    z-index: -1;
}

.little_elephant_description {
    right: 65px;
    top: -20px;
}

.big_elephant_description {
    top: 0;
    left: 0;
}

.elephant_theory {
    top: 130px;
    right: 0;
}

.elephant_speakers {
    top: -300px;
    left: 0;
}

.elephant_schedule {
    right: 0;
    top: -380px;
}

.elephant_tickets {
    right: 0;
    top: -120px;
}

.elephant_partnership {
    left: 0;
    bottom: -80px;
}

.elephant_become_partner {
    left: 0;
    bottom: 80px;
}

.elephant_map {
    right: 0;
    top: -150px;
}

/* ==================== END BACKGROUNG IMAGES ====================*/




/* ==================== START PRELOADER ====================*/


.preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #e9e7e2;
    z-index: 1000;
    transition: all .09s ease-out;
}

.preloader--hide {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}

.preloader__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#preloader.hide-preloader {
    animation: hidePreloader 1s;
}

#preloader.preloader-hidden {
    display: none;
}

@keyframes ldio-lrl29zh6csj {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

.ldio-lrl29zh6csj div {
    box-sizing: border-box !important
}

.ldio-lrl29zh6csj>div {
    position: absolute;
    width: 138px;
    height: 138px;
    top: 31px;
    left: 31px;
    border-radius: 50%;
    border: 10px solid #000;
    border-color: #ccd3c4 transparent #ccd3c4 transparent;
    animation: ldio-lrl29zh6csj 1s linear infinite;
}

.ldio-lrl29zh6csj>div:nth-child(2) {
    border-color: transparent
}

.ldio-lrl29zh6csj>div:nth-child(2) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}

.ldio-lrl29zh6csj>div:nth-child(2) div:before,
.ldio-lrl29zh6csj>div:nth-child(2) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: -10px;
    left: 54px;
    background: #ccd3c4;
    border-radius: 50%;
    box-shadow: 0 128px 0 0 #ccd3c4;
}

.ldio-lrl29zh6csj>div:nth-child(2) div:after {
    left: -10px;
    top: 54px;
    box-shadow: 128px 0 0 0 #ccd3c4;
}

.loadingio-spinner-dual-ring-2xdrs6n4x0t {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: rgba(255, 255, 255, 0);
}

.ldio-lrl29zh6csj {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.ldio-lrl29zh6csj div {
    box-sizing: content-box;
}


/* ==================== END PRELOADER ====================*/